/* Noto Sans JP (SIL Open Font License 1.1)
   ここで使う文字だけをサブセット化した woff2。
   再生成: node tools/subset-fonts.js */
@font-face{
  font-family:'Noto Sans JP'; font-style:normal; font-weight:400;
  src:url('NotoSansJP-400.woff2') format('woff2'); font-display:block;
}
@font-face{
  font-family:'Noto Sans JP'; font-style:normal; font-weight:500;
  src:url('NotoSansJP-500.woff2') format('woff2'); font-display:block;
}
@font-face{
  font-family:'Noto Sans JP'; font-style:normal; font-weight:700;
  src:url('NotoSansJP-700.woff2') format('woff2'); font-display:block;
}
@font-face{
  font-family:'Noto Sans JP'; font-style:normal; font-weight:900;
  src:url('NotoSansJP-900.woff2') format('woff2'); font-display:block;
}
